<div class="wrapper">

    <!-- <div class="container"> -->
    <div class="about">
        <div class="column-1 columns">
            <div class="about-content">
                <h1>Welcome to my portfolio!</h1>
                <p>I'm Franzzel Barcellano, a 22-year-old student at STI College Angeles. 
                    As a Frontend Web Developer with a Bachelor's in Information Technology, I'm passionate about designing user-friendly web pages. 
                    I'm dedicated to continuously improving my skills and knowledge in frontend development. 
                    Explore my portfolio to see my journey and projects.
                </p>
                <br>
                <h1>My hobbies:</h1>
                <p>
                    I enjoy participating in school competitions like quizbees and dance contests, as well as club activities. 
                    Outside of school, I love playing basketball with friends and staying physically active. 
                    I'm also a choir member at church. When those activities aren't available, I enjoy traveling with my family to explore nature's beauty.
                </p>
                <h1>My skills:</h1>
                <P>Coupling adept problem-solving skills with clear and articulate communication, I navigate challenges with precision and finesse.
                   Embracing flexibility as a cornerstone of my approach, I adapt seamlessly to evolving circumstances, ensuring optimal outcomes. 
                   Diligent time management ensures that tasks are executed with efficiency and precision, allowing me to meet deadlines consistently. 
                   Harnessing the power of creativity, I infuse projects with innovative solutions and fresh perspectives, setting them apart in a competitive landscape. 
                   In every endeavor, I strive not only to solve problems but to do so with a blend of expertise, professionalism, and creativity that yields exceptional results.
                </P>
                <h1>Computer literate skills:</h1>
                <P>
                    I possess a diverse and comprehensive skill set in the field of IT.
                    My expertise includes proficiency in Canva for creating engaging visual content and extensive experience with the Microsoft Suite for efficient office management and productivity.
                    I excel in front-end designing using HTML and CSS, allowing me to develop visually appealing and user-friendly websites. Additionally, I have a strong background in game development and graphic design, enabling me to create interactive and captivating digital experiences.
                    My skills in Filmora further enhance my ability to produce high-quality video content, making me a versatile and valuable asset to any team.
                </P>
            </div>
        </div>
    </div>
    


        <div class="column-2 columns">
            <div class="grid-container">
                <div class="img-container">
                    <img class="img1" src="../assets/img/social pic.jpg" alt="1">
                </div>
                <div class="img-container">
                    <img class="img2" src="../assets/img/TNT.jpg" alt="2">
                </div>
                <div class="img-container">
                    <img class="img3" src="../assets/img/friendsip.jpg" alt="3">
                </div>   
                <div class="img-container">
                    <img class="img4" src="../assets/img/lakeshore.jpg" alt="4">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/royce.jpg" alt="5">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/marisol.jpg" alt="6">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/Anz.jpg" alt="7">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/sportsfest.jpg" alt="8">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/aurora.jpg" alt="9">
                </div>
                <div class="img-container">
                    <img class="img4" src="../assets/img/hey.jpg" alt="10">
                </div>
            </div>
        </div>
    <!-- </div> -->
    
</div>

