* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 150px;
}


.about {
    display: flex; 
    flex-direction: column; 
    flex: 1%;
}

.columns {
    flex: 1;
    margin: 0;
    
}

.about-content {
    width: 100%; 
    padding: 20px;
    max-width: 600px; 
    margin: auto; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column-1 {
    flex: 1; 
    border: solid white;
    background: #26324a;
    margin: 0 30px;
    padding: 20px;
}

.about-content h1 {
    margin-bottom: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-content p {
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.column-2 {
    flex: 60% 0 100%; 
    padding: 30px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 12px ;
    row-gap: 200px;
    flex: 50%;
    height: 100%;
}

.img-container {
    box-sizing: border-box; 
    width: 100%;
    height: max-content;
}

.img-container img {
    border: solid rgb(255, 255, 255);
    border-radius: 22px;
    width: 100%;
    height: 500px; 
    object-fit: cover; 
}

@media (max-width: 1280px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .grid-container{
        row-gap: 50px;
    }
}

@media (max-width: 1024px){
    .wrapper{
        margin-top: 150px;
    }
    .about-content h1{
        font-size: 50px;
    }
    .about-content p{
        font-size: 40px;
    }
}

@media (max-width: 820px){
    .wrapper{
        margin-top: 160px;
    }
    .about-content h1{
        font-size: 40px;
    }
    .about-content p{
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .wrapper{
        margin-top: 140px;
    }
    .about-content h1{
        font-size: 40px;
    }
    .about-content p{
        font-size: 30px;
    }
}

@media (max-width: 414px){
    .wrapper{
        margin-top: 180px;
    }
    .about-content p{
        font-size: 25px;
    }
    .about-content h1{
    font-size: 35px;
    }
    .grid-container{
        row-gap:  20px;
        width: 100%;
    }
    .img-container img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}

@media (max-width: 375px){
    .wrapper{
        margin-top: 75px;
    }
    .about-content p{
        font-size: 22px;
    }
    .about-content h1{
        font-size: 30px;
    }
    .grid-container{
        row-gap:  20px;
        width: 100%;
    }
    .img-container img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

