<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="footer">
        <div class="footer-bottom">
            <h3>Portfolio</h3>
            <p>copyright &copy;2024 Portfolio. designed by <span>Franzzel Barcellano</span></p>
            <ul class="socials">
                <a href="https://www.facebook.com/franzzel.barcellano/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/franzzelbarcellano/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/franzzel-barcellano-215195298/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:franzzelbarcellano26@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    </ul>
    </div>
</div>