<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<nav class="header">
    <input type="checkbox" id="check" value="">
    <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
    <label class="logo">Portfolio</label>
    <ul>
        <li><a  routerLink="/home">Home</a></li>
        <li><a  routerLink="/about">About Me</a></li>
        <li><a  routerLink="/projects">Past Projects</a></li>
        <li><a  routerLink="/contacts">Contacts</a></li>
        <li><a  routerLink="/todolist">Todo-List</a></li>
    </ul>
</nav> 
rgb(18,21,28)