.header{
    width: 100%;
    height: 12%;
    padding: 1px;
    /* margin-left: -1px; */
    top: 0;
    position: fixed;
    z-index: 1;
    /* overflow-x: hidden; */
    border-bottom: solid rgb(255, 255, 255);
    background: rgb(102,27,28);
}

.logo{
    font-size: 30px;
    color: white; 
    padding: 30px;
    text-align: center;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

nav ul{
    float: right;
    margin-right: -5px;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
}

nav ul li a.active,a:hover{
    background: red;

}

#checkbtn{
    float: right;
    line-height: 110px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}

@media(max-width: 890px){
    #checkbtn{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background-color: rgb(9, 66, 198);
        position: fixed;
        top: 100px;
        left: -120%;
        transition: .5s;
    }
    nav ul li{
        display: block;
        text-align: center;
        line-height: 100px;
        /* margin-left: -5%; */
    }
}

@media(max-width: 890px){
    #checkbtn{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background-color: rgb(9, 66, 198);
        position: fixed;
        top: 80px;
        left: -120%;
        transition: .5s;
    }
}