<!-- <div class="container">
    <div class="column">
        <div class="Home">
            <div class="Home-content">
                <h1>Hi, I am Franzzel Barcellano</h1>
                <p>An aspiring Frontend developer hailing from STI College Angeles.</p>
                <h3>Web Developer</h3>

                <div class="social-media">
                    <a href="https://www.facebook.com/franzzel.barcellano/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/franzzelbarcellano/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:franzzelbarcellano26@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <img src="../assets/img/Bataan.jpg" alt="">
    </div>
</div> -->




<div class="flex-container">
  <div class="flex-item-left">
    <h1>Hi, I am Franzzel Barcellano</h1>
    <p>An aspiring Frontend developer hailing from STI College Angeles.</p>
    <h3>Web Developer</h3>
  </div>
  <div class="flex-item-right">
    <img src="../assets/img/Bataan.jpg" alt="">
  </div>
</div>
