/* .container {
    display: flex;
}

.column {
    flex: 1;
}

.Home-content {
    padding: 20px;
}

.Home h1 {
    font-size: 56px;
    font-weight: 700;
    background: linear-gradient(90deg, #f1a7a7,#be3333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.Home h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.social-media {
    display: flex;
    gap: 30px; 
    margin-top: 10px; 
}

.social-media a {
    color: white; 
    font-size: 25px; 
}

.social-media a:hover {
    color: lightblue; 
}


img {
    border: solid rgb(255, 1, 1);
    border-radius: 20%;
    width: 100%; 
    margin-top: -10%;
} */


/* @media (max-width: 950px) {
    .container {
      flex-direction: column;
    }
  } */


  * {
    box-sizing: border-box;
  }
  h1{
    border-bottom: solid rgb(102, 27, 28);
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    align-items: flex-start;
  }
  
  .flex-item-left {
    /* margin-left: 50px; */
    padding: 20px;
    flex: 40%;
    padding-top: 23%;
    color: white;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 60%;
    padding-top: 30px;
  }

  .flex-item-right img {
    border: solid rgb(255, 255, 255);
    border-radius: 20%;
    width: 60%;
    margin-top: 150px;
    box-shadow: 20px 1px 30px rgb(102,27,28);
    transition: transform 0.3s ease; /* Adding transition */
}

.flex-item-right img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}

  
  img {
    border: solid rgb(255, 255, 255);
    border-radius: 20%;
    width: 60%;
    margin-top: 15%;
    /* box-shadow: 30px 26px 100px rgb(102,27,28);  */

  }

  @media (max-width: 1220px){
    .flex-container{
      flex-direction: column;
      overflow: hidden;
    }
    .flex-item-left{
      width: 100%;
    }
    .flex-item-right{
      width: 100%;
      padding: 30px 0px;
      margin-top: -10px;
    }
    .flex-item-right img{
      margin-top: 0%;
    }
  }


  @media (max-width: 480px){
    .flex-container{
      margin-top: 30px;
    }
  }



  /* @media (max-width: 1190px) {
    .flex-container {
      flex-direction: column;
    }  
  }
  
  @media (max-width: 1024px) {
    .flex-container {
      flex-direction: column;
    }
    img{
      margin-top: 5%;
    }
    .flex-item-right{
      align-items: center;
      text-align: center;
      width: 100%;
    }
    .flex-item-left{
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: -1%;
    }
    h1{
      font-size: 38px;
    }
    p{
      font-size: 20px;
    }
  }

  @media (max-width: 800px){
    .flex-container {
      flex-direction: column;
    }
    img{
      margin-top: 5%;
    }
    .flex-item-right{
      align-items: center;
      text-align: center;
      width: 100%;
    }
    .flex-item-left{
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: -1%;
    }
    h1{
      font-size: 38px;
    }
    p{
      font-size: 20px;
    }
  }


  @media (max-width: 635px){
    h1{
      margin-top: 7%;
    }
  }

  @media (max-width: 500px){
    h1{
      font-size: 38px;
      margin-top: 15%;
    }
    p{
      font-size: 20px;
    }
  }

  @media (max-width: 375px){
    h1{
      margin-top: 10%;
      margin-left: -5%;
    }
    .flex-item-right{
      margin-left: 10%;
    }
  } */
  
  
  /* img {
    border: solid rgb(255, 1, 1);
    border-radius: 20%;
    width: 60%; 
    margin-top: -10%;
}  */