<h1 class="title">My Past Projects</h1>

<div class="flex-container">
  <div class="flex-item">
    <a href="assets/projects/Midterms/Rainbow.html">
      <img src="assets/img/Rainbow.PNG" alt="1" class="first-picture">
      <div class="text-overlay">
        <div class="text">Responsive Color changing website with hover pictures</div>
      </div>
    </a>
  </div>

  <div class="flex-item">
    <a href="assets/projects/ColorSquare/CSS_ColorSquare.html">
      <img src="assets/img/ColorSquare.PNG" alt="2" class="first-picture">
      <div class="text-overlay">
        <div class="text">Color Square with facebook link</div>
      </div>
    </a>
  </div>

  <div class="flex-item">
    <a href="assets/projects/Quiz1/Quiz1.html">
      <img src="assets/img/Layout.PNG" alt="3" class="first-picture">
      <div class="text-overlay">
        <div class="text">Sample layout of STI page</div>
      </div>
    </a>
  </div>

  <div class="flex-item">
    <a href="assets/projects/TP/index.html">
      <img src="assets/img/FourSeasons.PNG" alt="4" class="first-picture">
      <div class="text-overlay">
        <div class="text">Four Seasons change</div>
      </div>
    </a>
  </div>

  <div class="flex-item">
    <a href="assets/projects/WORDLE FINAL (designed)/index.html">
      <img src="assets/img/wordle.PNG" alt="5" class="first-picture">
      <div class="text-overlay">
        <div class="text">Wordle Game</div>
      </div>
    </a>
  </div>
</div>