/* body */
.grid-body{
    display: grid;
    grid-template-rows:100%;
    height: 95vh;
    background-color: white;
}

.grid-sub-body{
    display: grid;
    grid-template-rows: 10% 20% 210% 30%;
    float: left;
    row-gap: 1%;
}

.grid-header{
    justify-content: center;
    display: grid;
    grid-template-columns: 70% 30%;
}

/* header */
.grid-header-item{
    margin: 2px;
}

.grid-header-left-parent{
    display: grid;
    row-gap: 2px;
    grid-template-columns: 20% 12% 12% 12% 12% 12% 9% 12% ;
}

.grid-header-left-child{
    margin: 5px;
    column-gap: 3px;
}

.stilogo{
    height: 1%;
    width: 1%;
}
:root {
    --background-color: #ffffff; /* light mode background color */
    --text-color: #000000; /* light mode text color */
  }
  
  .dark-mode {
    --background-color: #0c0b0b; /* dark mode background color */
    --text-color: #ffffff; /* dark mode text color */
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  
    /* Additional styles for dark mode */
    .element {
      color: #ff0000;
    }
  
    /* Apply the dark mode class to the body element */
    body.dark-mode {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }

.grid-header-right-parent{
    display: grid;
    column-gap: 1px;
    grid-template-columns: 25% 25% 30%;
}

.grid-header-right-child {
    margin: 3px;
    column-gap: 3px;
}   

/* image */
.grid-main-center{
    height: 25%;
}
.STIText{
    margin-top: -6%;
}

/* main */
.main-body{
    display: block;
    position: relative; bottom: 820px;
}

.grid-left-main-parent{
    margin: 15px;
    padding: 15px;
    width:25%;
}

.grid-main-left-child-1{
    margin: 15px;
    padding: 15px;
    width:55%;
}

.column-container{
    display: flex;
    float: right;
    flex-direction: column;
    flex: 1px;
    flex-basis: 15%;
    width: 30%;
    height: 500%;
}

.grid-main-left-parent{
    position: relative; right: 10px; top:20px;
}

.grid-main-left-child{
    margin: 15px;
    padding: 10px;
    width:34%;
    background-color: lightcoral;
}

.ul{
    font-size: 19px;
    margin: 5px;
    padding: 70px;
    width:310px;
}


/* footer */
.grid-footer{
    display: grid;
    grid-template-columns: 100%;    
    position: relative; top: 1200px;
}

.grid-footer-item{
    background-color:rgb(42, 75, 165);
    display: grid;
    grid-template-rows: 20% 80%;
    margin: 5%;
}

.footer-col{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


