 /* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heart{
    font-size: 10rem;
    animation: heart .5s infinite alternate
    linear;
}
@keyframes heart {
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1)
    }
} */


body{
    background-color: red;
}

@media(max-width: 956px){
    body{
        background-color: orange  ;
    }
}

@media(max-width: 797px){
    body{
        background-color: yellow;
    }
}

@media(max-width: 638px){
    body{
        background-color: green;
    }
}

@media(max-width: 479px){
    body{
        background-color: blue;
    }
}

@media(max-width: 320px){
    body{
        background-color: indigo;
    }
}

@media(max-width: 161px){
    body{
        background-color: violet;
    }
}


.anime{
            display: flex;
            height: 20rem;
            gap: 1rem;
 }

.anime > div{
            flex: 1;
            border-radius: 1rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.anime > div:hover{
            flex: 5;
}
